@import "syntax-variables";
atom-text-editor,
atom-text-editor{
    background-color: @syntax-background-color;
    color: @syntax-text-color;
}
atom-text-editor .gutter,
atom-text-editor .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-text-color;
}
atom-text-editor .gutter .line-number.cursor-line,
atom-text-editor .gutter .line-number.cursor-line {
    background-color: @syntax-gutter-background-color-selected;
    color: @syntax-gutter-text-color-selected;
}
atom-text-editor .gutter .line-number.cursor-line-no-selection,
atom-text-editor .gutter .line-number.cursor-line-no-selection {
    color: @syntax-gutter-text-color-selected;
}
atom-text-editor .wrap-guide,
atom-text-editor .wrap-guide {
    color: @syntax-wrap-guide-color;
}
atom-text-editor .indent-guide,
atom-text-editor .indent-guide {
    color: @syntax-indent-guide-color;
}
atom-text-editor .invisible-character,
atom-text-editor .invisible-character {
    color: @syntax-invisible-character-color;
}
atom-text-editor .search-results .syntax--marker .region,
atom-text-editor .search-results .syntax--marker .region {
    background-color: transparent;
    border: @syntax-result-marker-color;
}
atom-text-editor .search-results .syntax--marker.current-result .region,
atom-text-editor .search-results .syntax--marker.current-result .region {
    border: @syntax-result-marker-color-selected;
}
atom-text-editor.is-focused .cursor,
atom-text-editor .cursor {
    border-color: @syntax-cursor-color;
}
atom-text-editor.is-focused .selection .region,
atom-text-editor .selection .region {
    background-color: @syntax-selection-color;
}
atom-text-editor.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line,
atom-text-editor .line-number.cursor-line-no-selection,
atom-text-editor .line.cursor-line {
    background-color: rgba(0, 0, 0, 0.19); // FIXME
}
.syntax--variable.syntax--parameter.syntax--function {
    color: #e67e22;
}
.syntax--comment,
.syntax--punctuation.syntax--definition.syntax--comment {
    color: @syntax-comments-color;
}
.syntax--punctuation.syntax--definition.syntax--string,
.syntax--punctuation.syntax--definition.syntax--variable,
.syntax--punctuation.syntax--definition.syntax--string,
.syntax--punctuation.syntax--definition.syntax--parameters,
.syntax--punctuation.syntax--definition.syntax--string,
.syntax--punctuation.syntax--definition.syntax--array {
    color: #d9f5dd; //FIXME
}
.syntax--none {
    color: rgba(217, 245, 221, 1); // FIXME
}
.syntax--keyword.syntax--operator {
    color: rgba(217, 245, 221, 1); // FIXME
}
.syntax--keyword.syntax--operator,
.syntax--constant.syntax--other.syntax--color,
.syntax--keyword {
    color: #e74c3c
}
.syntax--variable {
  color: #e67e22;

  .syntax--punctuation.syntax--definition.syntax--variable {
    color: inherit;
  }
}
.syntax--entity.syntax--name.syntax--function,
.syntax--meta.syntax--require,
.syntax--support.syntax--function.syntax--any-method, 
.syntax--meta.syntax--function-call, 
.syntax--support.syntax--function, 
.syntax--keyword.syntax--other.syntax--special-method, 
.syntax--meta.syntax--block-level {
    color: #2ecc71;
}
.syntax--support.syntax--class,
.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--type.syntax--class {
    color: #3498db;
}
.syntax--meta.syntax--class {
    color: #1abc9c;
}
.syntax--keyword.syntax--other.syntax--special-method {
    color: #82b1ff; // FIXME
}
.syntax--storage {
    color: #3498db;
}
.syntax--support.syntax--function, 
.syntax--support.syntax--constant, 
.syntax--meta.syntax--tag, 
.syntax--punctuation.syntax--definition.syntax--tag, 
.syntax--punctuation.syntax--separator.syntax--inheritance.syntax--php, 
.syntax--punctuation.syntax--definition.syntax--tag.syntax--html, 
.syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--html,
.syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--html {
    color: #2ecc71;
}
.syntax--string,
.syntax--constant.syntax--other.syntax--symbol, 
.syntax--entity.syntax--other.syntax--inherited-class {
    color: #f1c40f;
}
.syntax--constant.syntax--numeric {
    color: #6c71c4;
}
.syntax--none {
    color: #6c71c4;
}
.syntax--none {
    color: #6c71c4;
}
.syntax--constant {
    color: #6c71c4;
}
.syntax--entity.syntax--name.syntax--tag {
    color: #2ecc71;
}
.syntax--entity.syntax--other.syntax--attribute-name {
    color: #2ecc71;
}
.syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
    color: #1abc9c;
}
.syntax--meta.syntax--selector {
    color: #3498db;
}
.syntax--none {
    color: #6c71c4;
}
.syntax--markup.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading,
.syntax--entity.syntax--name.syntax--section {
    color: #2ecc71;
}
.syntax--keyword.syntax--other.syntax--unit {
    color: #d7503c;
}
.syntax--markup.syntax--bold,
.syntax--punctuation.syntax--definition.syntax--bold {
    font-weight: bold;
    color: #F8F8F8;
}
.syntax--markup.syntax--italic,
.syntax--punctuation.syntax--definition.syntax--italic {
    font-style: italic;
    color: #233345;
}
.syntax--markup.syntax--raw.syntax--inline,
.syntax--markup.syntax--raw {
    color: #f1c40f;
}
.syntax--string.syntax--other.syntax--link,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--markdown {
    color: #d7503c;
}
[data-grammar*="gfm"]::shadow {
    .syntax--markup.syntax--underline.syntax--link {
        color: #d7503c;

        span.syntax--punctuation {
            color: #d7503c;
        }
    }
    .syntax--markup.syntax--strike {
        position: relative;
        color: fade(@syntax-text-color, 50%);

        &::after {
            content: "";
            position: absolute;
            top: calc(50% + 4px);
            left: 0;
            right: 0;
            height: 1px;
            background-color: fade(@syntax-text-color, 20%);
        }
    }
    .syntax--table .syntax--border {
        color: fade(@syntax-text-color, 50%);
    }
    .syntax--markup.syntax--heading {
        color: #3498db;
    }
    .syntax--punctuation.syntax--definition.syntax--begin,
    .syntax--punctuation.syntax--definition.syntax--end {
        color: #3498db;
    }
    .syntax--punctuation.syntax--definition.syntax--begin + span:not(.function.parameter) {
        color: lighten(#82b1ff, 5%);
    }
}
.syntax--meta.syntax--link {
    color: #d7503c;
}
.syntax--markup.syntax--list {
    color: #2ecc71;
}
.syntax--markup.syntax--quote {
    color: #f77669;
}
.syntax--meta.syntax--separator {
    color: #5eebb8;
    background-color: #233345;
}
.syntax--markup.syntax--inserted {
    color: #FFCC66;
}
.syntax--markup.syntax--deleted {
    color: #F2777A;
}
.syntax--markup.syntax--changed {
    color: #CC99CC;
}
.syntax--constant.syntax--other.syntax--color,
.syntax--meta.syntax--property-value .syntax--support.syntax--constant.named-color.syntax--css {
    color: #FFCC66;
}
.syntax--string.syntax--regexp {
    color: #3498db;
}
.syntax--constant.syntax--character.syntax--escape {
    color: #3498db;
}
.syntax--punctuation.syntax--section.syntax--embedded,
.syntax--variable.syntax--interpolation {
    color: #e67e22;
}
.syntax--invalid.syntax--illegal {
    color: rgba(255, 255, 255, 1);
    background-color: #ec5f67;
}
.syntax--invalid.syntax--broken {
    color: rgba(2, 14, 20, 1);
    background-color: #f77669;
}
.syntax--invalid.syntax--deprecated {
    color: rgba(255, 255, 255, 1);
    background-color: #e74c3c;
}
.syntax--invalid.syntax--unimplemented {
    color: rgba(255, 255, 255, 1);
    background-color: #2ecc71;
}
.sublimelinter.annotations {
    color: rgba(123, 81, 87, 1);
    background-color: rgba(255, 255, 247, 1);
}
.sublimelinter.outline.syntax--illegal {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 149, 153, 1);
}
.sublimelinter.syntax--underline.syntax--illegal {
    background-color: rgba(255, 73, 65, 1);
}
.sublimelinter.syntax--underline.syntax--warning {
    color: rgba(255, 255, 255, 1);
    background-color: #e74c3c;
}
.sublimelinter.syntax--underline.syntax--warning {
    background-color: rgba(255, 73, 65, 1);
}
.sublimelinter.syntax--outline.violation {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}
.sublimelinter.syntax--underline.violation {
    background-color: rgba(255, 73, 65, 1);
}
.sublimelinter.syntax--mark.syntax--error {
    color: #e74c3c;
}
.sublimelinter.syntax--mark.syntax--warning {
    color: #f1c40f;
}
.sublimelinter.gutter-mark {
    color: rgba(255, 255, 255, 1);
}
.syntax--markup.syntax--deleted.git_gutter {
    color: #e74c3c;
}
.syntax--markup.syntax--changed.git_gutter {
    color: #f1c40f;
}
.syntax--markup.syntax--inserted.git_gutter {
    color: #c3e88d;
}
.syntax--markup.syntax--ignored.git_gutter {
    color: #546e7a;
}
.syntax--comment.line.syntax--double-slash .syntax--punctuation.syntax--definition.syntax--comment,
.syntax--meta.syntax--structure.syntax--array .syntax--comment.syntax--block.syntax--json .syntax--punctuation.syntax--definition.syntax--comment {
    color: @syntax-comments-color;
}
.syntax--support.syntax--type.syntax--property-name {
    color: #80cbc4;
}
.syntax--meta.syntax--property-list .syntax--meta.syntax--property-name {
    color: #80cbc4;
}
.syntax--source.syntax--css .syntax--keyword.syntax--other.syntax--unit,
.syntax--source.syntax--less .syntax--keyword.syntax--other.syntax--unit,
.syntax--source.syntax--scss .syntax--keyword.syntax--other.syntax--unit,
.syntax--source.syntax--sass .syntax--keyword.syntax--other.syntax--unit {
    color: #f1c40f;
}
.syntax--entity.syntax--other.syntax--less.syntax--mixin {
    color: #d7503c;
}
.syntax--constant.syntax--other.syntax--color.syntax--rgb-value .syntax--punctuation.syntax--definition.syntax--constant {
    color: #e74c3c;
}
.syntax--meta.syntax--attribute-selector .syntax--string.syntax--unquoted.syntax--attribute-value {
    color: #c3e88d;
}
.syntax--meta.syntax--attribute-selector .syntax--entity.syntax--other.syntax--attribute-name.syntax--attribute {
    color: #e74c3c;
}
.bracket-matcher .region {
    border-bottom: 1px solid @syntax-cursor-color;
    box-sizing: border-box;
    background-color: @syntax-bracket-matcher-background-color;
}
